body {

}

header {

  padding: 20px 30px;

  nav {
    width: 100vw;

    #socialLinks {
      padding-right: 30px;
      font-size: 0.8em;

      li {
        padding-left: 35px;
      }
    }

    ul {
      padding-left: 30px;
  
      li {
        list-style-type: none;
        padding-left: 20px;
        font-size: 0.95em;

        a {

          i {
            font-size: 1.6em;
          }
        }
      }
    }
  }
}