@import './mixins.scss';

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  max-width: 1200px;
  padding: 20px 30px 5px 30px;
  margin: auto;
  position: relative;
  z-index: 2;

  nav {
    width: 100vw;

    .navLinks {
      position: sticky !important;
      top: 0;
    }

    a {
      color: rgb(255, 255, 255);

      &:hover {
        color: rgb(72, 136, 255);
        text-decoration: none;
      }
    }

    #socialLinks {
      padding-right: 30px;
      font-size: 0.8em;

      li {
        padding-left: 35px;
      }
    }

    ul {
      padding-left: 30px;

      @media only screen and (max-width: 576px) {
        padding-left: 0;
      }
  
      .firstLi {
        @media only screen and (max-width: 576px) {
          padding-left: 0;
        }
      }

      li {
        list-style-type: none;
        padding-left: 20px;
        font-size: 0.95em;

        a {

          i {
            font-size: 1.6em;
          }
        }
      }
    }
  }
}

main {
  &:before {
    @include line-after;
    width: 80vw;
    margin: auto;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid white;
  }

  .jumbotron {
    background-image: url(./images/cameratransparent.png);
    background-position: right;
    border-radius: 0;
    height: 100vh;
    width: 100%;
    position: relative;
    top: -68.55px;
    padding: 100px 25vw 20px 30vw;

    @media only screen and (max-width: 576px) {
      padding: 80px 20px;
      background-position-x: 600px;
      background-position-y: 100px;
    }

    span {
      position: relative;
      top: -100px;
      @media only screen and (min-width: 576px) {
        left: -100px;
      }
    }

    h1 {
      font-weight: 600;
      font-size: 4.5em;
      color: rgb(255, 255, 255);
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

    #titleP p {
      font-style: italic;
      color: white;
      text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    }

  }

  #aboutSection {
    position: relative;
    top: -50px;

    .row {
      .aboutInfo {
        padding: 2em;

        @media only screen and (min-width: 720px){
          padding: 1.6em 40px;
        }

        @media only screen and (min-width: px) {
          padding: 2em 100px;
        }

        i {
          font-size: 3em;
          margin-bottom: 25px;
        }

        span {
          max-width: 150px;
          padding: 20px;
          background-color: black;
          color: white;
          height: 100%;
        }

        .alternateGrey {
          background-color: rgb(211, 211, 211);
          color: black;
        }
      }
      
      .downArrow {
        font-size: 2em;
        a {
          i {
            color: black;
            &:hover {
              color: grey;
            }
          }
        }
      }
    }
  }

  #retailers {
    background-color: black;
    color: white;
    padding-top: 50px;

    h3 {
      font-weight: 600;

      &:after {
        @include line-after;
        border-bottom: 2px solid white;
        margin-top: 5px;
        width: 50%;
      }
    }

    #retailerDiv {
      
    }
  }

  #contact {
    padding-top: 50px;

    #contactDiv {
      div {
        .bottomSocials {
          list-style-type: none;
          padding-left: 0;
        }
      }

      .contactSections {
        min-width: 200px;
      }
    }

    h3 {
      font-weight: 600;

      &:after {
        @include line-after;
        border-bottom: 3px solid black;
        margin-top: 5px;
        width: 50%;
        position: relative;
        left: 70px;
      }
    }
  }
}